#================ goodix fp =================================

type goodixfingerprintd_device, dev_type;
type goodix_fingerprint_service, service_manager_type;

# for goodix test tool and manager
hal_client_domain(system_app, hal_fingerprint)
allow system_app goodix_fingerprint_service:service_manager { add find };
allow untrusted_app goodix_fingerprint_service:service_manager { find };

# allow fingerprint_default add goodix vndservice
#allow hal_fingerprint_default goodix_fingerprint_vndservice:service_manager_type { add find };

# Access fingerprint devices at all
allow hal_fingerprint_default goodixfingerprintd_device:chr_file rw_file_perms;

# allow TEE
#allow hal_fingerprint_default tee_device:chr_file rw_file_perms;
allow hal_fingerprint_default teetz_device:chr_file rw_file_perms;
#allow hal_fingerprint_default teetz_device:chr_file { read write open ioctl };

# for netlink use
allow hal_fingerprint_default self:netlink_socket create_socket_perms_no_ioctl;

# allow sdcard access right
#allow hal_fingerprint_default media_rw_data_file:dir rw_dir_perms;
#allow hal_fingerprint_default media_rw_data_file:file create_file_perms;

# allow for uinput
allow hal_fingerprint_default uhid_device:chr_file rw_file_perms;
#allow hal_fingerprint_default device:chr_file { read write open ioctl };


#================ goodix fp end =================================
